<div id="spree-header" class="mb-0">

  <header id="header" data-hook>
    <div class="container">
      <div class="row mb-0">
        <figure id="logo" class="col-sm-3" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>

  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>

</div>
