<nav class="navbar col-md-9 mt-s mb-0" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <%= render :partial => 'spree/shared/login_bar' %>
    <%= render :partial => 'spree/shared/locale_selector' %>
  </ul>
</nav>
