<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, :method => :get, class: "navbar-form" do %>
<div class="input-group">
  <span class="input-group-btn">
    <% cache(cache_key_for_taxons) do %>
      <%= select_tag :taxon,
            options_for_select(
              [[Spree.t(:all_departments), '']] + @taxons.map {|t| [t.name, t.id]},
              @taxon ? @taxon.id : params[:taxon]
            ),
            'aria-label' => 'Taxon',
            class: "form-control",
            style: 'width: 145px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-right: 0px'
       %>
    <% end %>
  </span>
  <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %>
  <span class="input-group-btn">
    <%#= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary", style: "height: 34px" %>
    <button class="btn btn-primary" type="submit" style="height: 34px"><i class="glyphicon glyphicon-search"></i></button>
  </span>
</div>
<% end %>
